<div class="banner" style="background-image: linear-gradient(-225deg, rgba(204,152,127,0.3) 0%, rgba(53,35,1,0.3) 50%), url('https://static.messynessychic.com/wp-content/uploads/2013/06/tavern.jpg');">
  <div class="banner-content">
    <h1>Bar Souls - Prepare to Drink!</h1>
    <p>The best drinks for any undead!</p>
  </div>
</div>
